img {
    width: 120px;
    height: 120px;
}
.circle{
    border-radius: 50%
}
.froggy{
    display: flex;
}
.g{
    border-style: solid;
    border-color: green;
}
.y{
    border-style: solid;
    border-color: yellow;
}
.r{
    border-style: solid;
    border-color: red;
}
.desloc {
    order: -1;
}