img {
    width: 120px;
    height: 120px;
}
.circle{
    border-radius: 50%
}
.froggy{
    display: flex;
    height: 97vh;
    align-items: flex-start;
}
.g{
    border-style: solid;
    border-color: green;
}
.y{
    border-style: solid;
    border-color: yellow;
    align-self: flex-end;
}
.r{
    border-style: solid;
    border-color: red;
}